---
layout: layouts/home.njk
homePage: yes

---
<hr>
<blockquote><h2>Ain't Nobody Here but Us Chickens</h2></blockquote>
<p>This is pretty early days for this site, so not that much to see here. But, I've always liked reading about <a href="https://daverupert.com/uses">what</a> <a href="https://www.builtwith.coffee/tools-i-use">tools</a> <a href="https://wesbos.com/uses">folks</a> use to get their work done, perhaps you would be interested in <b><a href="/uses">my setup</a></b></p>
<hr>
{% set maxPosts = collections.posts.length | min(3) %}
<div class="tilt">Latest Posts</div>

{% set postslist = collections.posts | head(-6) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
