<footer>
    <div class="tilt"><strike>are footers still a thing?</strike></div>
    <hr>

    <p> Copyright &copy; 1998-<script>document.write(new Date().getFullYear())</script> Jeff Coburn</p>
    <p>Built with <a href="https://11ty.dev">Eleventy</a> and a little love<sup>1</sup>. Hosted on <a href="https://github.com/coburnicus/jeffcoburn.com">github</a>, deployed to <a href="https://netlify.com">netlify</a>. </p>

    <p><small><sup>1</sup> That is what I call my garbage custom css.</small></p>
  </footer>