<!doctype html>
<html lang="en">
  {% include 'head.html' %}
  <body>
    <div class="tilt">This is still in beta right?</div>
    <div class="container">
      {% include 'header.html' %}
<hr>
{% if homePage %}
{% include 'intro.html' %}
{% endif %}





    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

      <!-- Delete this message -->
     
      <!-- Stop deleting -->

      {{ content | safe }}
    </main>
   
    {% include 'footer.html' %}
  </div>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
